* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}
/* common class */
.btn {
    background-color: #469165;
    color: #FFFFFF;
    padding: 12.5px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.btn:hover {
    background-color: #5FAF7A;
}
#nav-section {
    max-width: 1600px;
    padding: 16px 120px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo img {
    width: 139px;
}
.nav-menu ul {
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-menu ul a {
    text-decoration: none;
    color: #000000;
}
#Banner-Section {
    max-width: 1600px;
    width: 100%;
    height: 100vh;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
.banner-box {
    max-width: 1360px;
    margin: 0 auto;
    padding: 115.5px 120px;
    /* border: 1px solid red; */
    text-align: center;
    
}
.banner-span {
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid #469165;
    color: #469165;
    border-radius: 1000px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.banner-box h1 {
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
}
.heading-span {
    display: block;
    color: #30B868;
    margin-bottom: 16px;
}
.banner-box p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.banner-button {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.water-color {
    padding: 12.5px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #e0f2fe;
}