* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}
/* common class */
.btn {
    background-color: #469165;
    color: #FFFFFF;
    padding: 12.5px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.btn:hover {
    background-color: #5FAF7A;
}
#nav-section {
    max-width: 1600px;
    padding: 16px 120px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo img {
    width: 139px;
}
.nav-menu ul {
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-menu ul a {
    text-decoration: none;
    color: #000000;
}