* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}
/* common class */
.btn {
    background-color: #469165;
    color: #FFFFFF;
    padding: 12.5px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.btn:hover {
    background-color: #5FAF7A;
}
#nav-section {
    max-width: 1600px;
    width: 100%;
    padding: 16px 120px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo img {
    width: 139px;
}
.nav-menu ul {
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-menu ul a {
    text-decoration: none;
    color: #000000;
}
header {
    width: 100%;
    height: 100vh;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-box {
    max-width: 1360px;
    margin: 0 auto;
    padding: 70px 120px 134px;
    /* border: 1px solid red; */
    text-align: center;
    
}
.banner-span {
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid #469165;
    color: #469165;
    border-radius: 1000px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.banner-box h1 {
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
}
.heading-span {
    display: block;
    color: #30B868;
    margin-bottom: 16px;
}
.banner-box p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.banner-button {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.water-color {
    color: #FFFFFF;
    padding: 12.5px 16px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background:transparent
}
.water-color:hover {
    border: 1ps solid #ffffff1a;
    background-color: #e5e7eb47;
}
#Notes-Section {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 70px 120px 134px;
}
#Notes-Section h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
#Notes-Section p {
    color: #627382;
    line-height: 20px;
}
.note-box {
    display: flex;
    gap: 24px;
}
.note-card {
    margin-top: 44px;
    width: 322px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.15);
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 24px;
    transition: 0.5s;
}
.note-card:hover {
    background-color: rgba(0, 0, 0, 0.123);
    border: 1px solid #757575;
    box-shadow: 0 10px 40px rgba(70, 145, 101, 0.1);
}
.note-card img {
    background-color: #F95555;
    padding: 14px;
    border-radius: 100%;
}
.note-card h3 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.note-card p {
    color: #627382;
    line-height: 20px;
}
.Second-Brain-Section {
    max-width: 1360px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 60px;
}
.Second-Brain-Section .Brain-image img {
    width: 600px;
}
.Brain-content .green {
    color: #469165;
    font-weight: 500;
    margin-bottom: 16px;
}
.Brain-content h1 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.Brain-content p {
    color: #627382;
    margin-bottom: 40px;
}
.checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.item {
    display: flex;
    align-items: center;
    gap: 6px;
}
.item img {
    width: 20px;
    height: 20px;
    /* flex-shrink: 0; */
}
.checkbox-list .item p {
    margin: 0;
}
#early-access {
    max-width: 1360px;
    background-color: #F7F6F2;
    margin: 120px auto;
    border-radius: 8px;
    text-align: center;
    padding: 80px 40px;
}
#early-access h2 {
    color: #001931;
    font-weight: bold;
    margin-bottom: 16px;
}
#early-access p {
    color: #627382;
    margin-bottom: 24px;
}
.early-access-button {
    margin-bottom: 16px;
}
footer {
    max-width: 1600px;
    background-color: #001931;
    text-align: center;
}
.footer-box {
    max-width: 1360px;
    padding: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.link-box {
    color: #FFFFFF;
}
.link-box p {
    margin-bottom: 16px;
}
.social-link {
    display: flex;
    gap: 16px;
}
footer hr {
    width: 1000px;
    margin: 0 auto;
    color: #E5E7EB;
}
footer p {
    color: #FAFAFA;
}